.img-section{ text-align: center;


}

.top-section{
    text-align: center;
    text-decoration: overline;
    font-family: cursive;
    font-size: larger;
    color:antiquewhite;
    background-image: url(https://thumbs.gfycat.com/ElegantWelllitCockroach-size_restricted.gif);
    background-size:contain;
border-style:dotted;
border-color: whitesmoke;
}





body{
    background-color:rgb(148, 43, 43);
    background-clip: border-box;
}