.img-section{ text-align: center;


}

.top-section{
    text-align: center;
    text-decoration: overline;
    font-family: cursive;
    font-size: larger;
    color:antiquewhite;
    background-image: url(https://thumbs.gfycat.com/ElegantWelllitCockroach-size_restricted.gif);
    background-size:contain;
border-style:dotted;
border-color: whitesmoke;
}





body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTok1MrrCP30ZEP89YlfrGuRrehFS23WppOvA&usqp=CAU);
    background-repeat: no-repeat;
    background-size:500%;
}
