.top-section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:antiquewhite;
background-color: brown;
}

.paragraph-section{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:brown;
background-color:antiquewhite;
}

.image-section{ 
    text-align: left;

}

.list-section{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkgreen;
    background-color:beige;


}

.caption-section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:peachpuff;
    background-color:rgba(10, 10, 10, 0.39);
    text-align:left;
}
.gif-section{ text-align:left;

}

.link-section{ 
    text-align: center;

}
body{
    background-image: url("https://i.pinimg.com/originals/32/61/23/326123f5c65701663579f1311b81900d.gif");
background-repeat:initial;
background-size: 100%;
}

ul{color:brown;
    text-align: center;


}




h3{
    text-align: center;
}