.top-section{
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: larger;
    color:antiquewhite;
background-color: brown;
border-style: solid;
border-color: black;
text-align: center;

}
.sunset-section{text-align:left;

}

.GIF{

}

.paragraph-section{
    font-family:Bradley Hand, cursive;
    color:brown;
background-color:#eb7b64e6;
text-align: justify;


}

.image-section{ 
    text-align:center;
    

}

.my-picture{text-align: center;

}

.list-section{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(205, 92, 92, 0.9);
    background-color: wheat;
text-align: top;


}



.gif-section{ text-align:left;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQlNlqNoMZH_EWvfKrakUQLm99_2n3mmS25A&usqp=CAU);
background-repeat:no-repeat;
background-size: 100%;
text-align: center;
}


}

.link-section{ 
    text-align:top;
    

    

}
button{background-color:brown;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.8s;
    cursor:grab;

}

body{background-color: blueviolet;
    

ul{color:brown;
    text-align: center;
    


}

.photography{
    text-align: center;
}


h3{background-color:hsl(0, 16%, 13%, 0.8);
    text-align: center;
}










